spring:
  application:
    name: BookingPlatform

  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:userdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
        ddl-auto: update

  # Define a unique port for this microservice
  server:
    port: 8080